nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.3);
    height: 65px;
    padding: 0 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    height: 40px;
    width: 40px;
}

.nav-logo button {
    background: transparent;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.nav-links .list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links .list li {
    margin: 0 10px;
}

.nav-links .list li a {
    text-decoration: none;
    font-size: 17px;
    color: #333;
}

.nav-social {
    display: flex;
    list-style: none;
}

.nav-social li {
    margin-left: 10px;
}

.nav-social li a {
    color: #333;
}

@media screen and (max-width: 767) {
    
}




