nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.3);
    height: 65px;
    padding: 0 20px;
    direction: rtl;
    position: relative;

}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    background: transparent;
    border: none;
   
}

.nav-logo img {
    height: 40px;
    width: 40px;
}

.nav-logo .nav-toggle {
    font-size: 30px;
    cursor: pointer;
}

.nav-logo button {
    background: transparent;
    border: none;
    display: none;
}

.nav-links{
    transition: all 0.5s ease;
}

.nav-links .list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links .list li {
    margin: 0 10px;
}

.nav-links .list li a {
    text-decoration: none;
    font-size: 17px;
    color: #333;
}

.nav-social {
    display: flex;
    list-style: none;
}

.nav-social li {
    margin-left: 10px;
}

.nav-social li a {
    color: #333;
}

@media screen and (max-width: 767px) {
    .nav-logo{
        width: 100%;
    }

    .nav-logo button{
        display: block  !important;
    }

    .nav-links{
        position: absolute;
        right: 0;
        left: 0;
        top: 65px;
        height: 0;
        background: #fff;
        overflow: hidden;
        
    }

    .nav-links .list{
        display: block;
        padding-right: 5px;
        

    }

    .nav-links .list li{
        padding: 15px 0px;
    }

    .nav-social{
        display: none;
    }

    .active{
        height: 14rem;
    }
}




